<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Word Frequency</h5>
          <form class="form-signin">
            <div class="form-label-group">
              <input type="text" id="inputWord" [(ngModel)]="word" name="word" class="form-control"
                placeholder="Enter word" maxlength="255" (change)="checkMinLength()" style="padding: 5px;" required autofocus>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" style="padding: 10px;" (click)="submit()"
              type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto text-center">
      <table style="width:100%">
        <tr>
          <th>No</th>
          <th>Word</th>
          <th>Frequency</th>
        </tr>
        <tr *ngFor="let item of result; let i = index" [attr.data-index]="i">
          <td>{{i + 1}}</td>
          <td>{{item.word}}</td>
          <td>{{item.freq}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>